body {
    margin: 0 auto;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #000;
    height: 70px;
    position: fixed;
    max-width: 2560px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.main {
    background: url('media/picture3.png');
    background-size: cover;
    height: 1000px;
}
.header__div {
    display: flex;
    justify-content: center;
}
.header__map {
    background-color: rgb(214, 0, 0);
    color: #000000;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top: 18px;
    margin-left: 100px;
}
#maptex {
    font-size: 22px;
    margin: 0px;
}
#phone {
    font-size: 20px;
    margin: 0px;
    background-color: rgb(214, 0, 0);
    color: #000;
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
    position: relative;
    top: 18px;
    margin-right: 100px;
}
.main__title {
    text-align: center;
    font-size: 62px;
    margin-right: 800px;
    margin-top: 0px;
    padding-top: 150px;
    text-shadow: 0px 7px 9px rgb(127, 127, 127);
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 0px;
}
.main__description {
    font-size: 42px;
    margin-right: 450px;
    text-shadow: 0px 7px 5px black;
    text-align: center;
    
}
.red {
    color: rgb(255, 0, 0);
    text-shadow: 0px 7px 9px rgb(168, 0, 0);
}

/* вторая секция */

.middle-up {
    background: url('media/picture2.png');
    background-size: cover;
    height: 800px;
}
.main__question {
    font-size: 52px;
    padding-top: 120px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 150px;
}
.card__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
.card {
    width: 220px;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
    transition: 0.5s;
}
.card__img {
    width: 100px;
    height: 100px;
}
.card__title {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
}
.card__text {
    font-size: 16px;
    color: #4b4b4b;
    text-align: center;
    margin-bottom: 0px;
}

/* секция с картой */

.map__container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(0, 0, 0);
}


/* третья секция */

.middle__container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
}
.main__middle {
    color: #000;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.middle__card {
    width: 340px;
    border-radius: 15px;
    background-color: rgb(223, 221, 209);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: #4b4b4b;
    text-align: center;
    top: 0px;
    position: relative;
    transition: 0.3s;
}
.middle__card:hover {
    top: -20px;
    transition: 0.5s ease-out;
}
.middle__img {
    width: 340px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.middle__title {
    font-size: 24px;
    margin-top: 0px;
    color: #000;
    padding-top: 30px;
}
.middle__text {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.price {
    color: #353535;
    font-size: 30px;
    margin-bottom: 30px;
}

/* секция 4 */

.middle-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle__img_down {
    width: 500px;
    margin: 0px;
}
.middle__text_down {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}
.middle__container_white {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 1500px;
    flex-wrap: wrap;
}
.middle__card_white {
    width: 500px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(234, 234, 234);
    color: #4b4b4b;
    text-align: center;
    top: 0px;
    position: relative;
    transition: 0.3s;
}
.middle__card_white:hover {
    top: -20px;
    transition: 0.5s ease-out;
}

@media screen and (max-width: 430px) {
    body {
        max-width: 430px;
        display: flex;
        flex-wrap: wrap;
    }
    header {
        max-width: 430px;
    }
    .header__map {
        border-radius: 8px;
        margin-left: 15px;
    }
    .header__phone {
        border-radius: 10px;
    }
    h1 {
       font-size: 24px !important;
       margin-right: 0px !important;
       width: 430px;
       background-color: rgba(0, 0, 0, 0.8);
       padding-top: 0px;
   }
   h3 {
       font-size: 12px !important;
   }
   #phone {
    width: 65px;
    margin-right: 10px;
   }
   #maptex {
    text-align: center;
   }
   .main {
    height: 300px;
   }
   .main__question {
    padding-top: 50px;
    margin-bottom: 50px;
   }

   .middle-up {
        height: 600px;
   }
   .card__container {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(3, 219px);
        justify-items: center;
        grid-gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
   }
   .main__description {
    font-size: 22px;
    margin-right: 0px;
   }
   .main__middle {
       margin-top: 50px;
       margin-bottom: 50px;
   }
   .card {
    width: 160px !important;
    height: 200px !important;
    padding: 10px;
   }
   .card__title {
       font-size: 16px;
   }
   .card__img {
       width: 50px;
       height: 50px;
   }
   .card__text {
    font-size: 12px;
   }

   /* третья секция */

    .middle__container {
       display: grid;
       grid-template-columns: repeat(1, 350px);
       grid-template-rows: repeat(3, 230px);
       justify-items: center;
       margin-bottom: 50px;
       gap: 0px;
   }
   .middle__card {
    width: 350px;
    border-radius: 15px;
    background-color: rgb(223, 221, 209);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: #4b4b4b;
    text-align: center;
    top: 0px;
    position: relative;
    transition: 0.3s;
    display: flex;
    margin-bottom: 0px;
    height: fit-content;
}
.middle__card_group {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.price {
    font-size: 18px !important;
}
   .middle__title {
       font-size: 14px;
   }
   .middle__text {
       font-size: 12px;
   }
   .middle__text_down {
       font-size: 12px;
       padding-left: 5px;
       padding-right: 5px;
   }
   
   .yandex {
    width: 350px;
    height: 400px;
   }
   
   .middle__img {
       width: 150px;
       border-top-left-radius: 15px;
       border-top-right-radius: 0px;
       border-bottom-left-radius: 15px;
   }
   
   .middle__img_down {
    width: 200px;
    margin: 0px;
}
.middle__card_white {
    width: 200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(234, 234, 234);
    color: #4b4b4b;
    text-align: center;
    top: 0px;
    position: relative;
    transition: 0.3s;
}
   .middle__container_white {
       display: grid;
       grid-template-columns: repeat(1, 350px);
       grid-template-rows: repeat(2, 350px);
       justify-items: center;
       grid-gap: 50px;
       margin-bottom: 50px;
       max-width: 430px;
   }
   }
   
